<div class="container mt-4">
  <h1>Gestión de Cuentas y Transacciones</h1>

  <!-- Menú de Navegación -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" (click)="showCreateSection()" style="cursor:pointer;">Crear Cuentas/Transacciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="showConsultaSection()" style="cursor:pointer;">Consultar Cuentas/Transacciones</a>
    </li>
  </ul>

  <!-- Sección para Crear Cuentas y Transacciones -->
  <div *ngIf="isCreateSectionVisible">
    <app-crear-cuentas-transacciones></app-crear-cuentas-transacciones>
  </div>

  <!-- Sección para Consultar Cuentas y Transacciones -->
  <div *ngIf="!isCreateSectionVisible">
    <app-consulta-cuentas-transacciones></app-consulta-cuentas-transacciones>
  </div>
</div>
